<a href="<%= @post.url %>"><%= @post.title %></a>
<%= @post.user.name %>
<%= @post.points %>

<%= @post.content %>

<%= erb(:'/posts/_comment_form', :layout => false) %>
<% if @post.comments %>
  <% @post.comments.each do |comment| %>
  <%= comment.content %>
  <%= comment.user.name %>
  <% end %>
<% end %>
