<ul>
  <% @posts.each do |post| %>
      <li>
      <a href="#"><img src="https://news.ycombinator.com/grayarrow.gif"></a>
      <span id="post-title">
        <a href="/posts/<%= post.id %>"><%= post.title %></a>
      </span> 
      <span id="post-url">
        (<%= post.url %>)
      </span>

      <div class="sub-info">
        <span class="points">
          <%= post.post_votes %> points
        </span>
        <span class="mini-user-id">
         by: <a href="/users/<%= post.user_id %>"><%= post.user_id %></a> | 
         <a href="/posts/<%= post.id %>">See Comments</a>
        </span></div>
    </li>
  <% end %>
</ul>
